header{
    font-size: 18px;
}
.black-part{
    background-color: black;
}
.black-part img{
    width: 100px;
}
.cinque{
    line-height: 58px;
}
.cinquantacinque{
    width: 60%;
    display: flex;
    align-items: center;
}
.quaranta{
    width: 40%;
}
.bottone{
    border: solid 1px white;
    border-radius: 20px;
    padding: 4px;
    background-color: #363636;
}
header .fa-magnifying-glass{
    color: #363636;
    margin-left: 5px;
}
.jumbotron{
    background-image: url(../img/img/jumbo-bg.png) ;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 500px;
}
.jumbo{
    padding-top: 100px;
    padding-left: 30px;

}
.jumbotron img{
    width: 200px;
}
.jumbotron h2{
    margin-left: 1%;
    margin-top: 2%;
    font-size: 50px;
    color: whitesmoke;
}
.jumbotron p{
    margin-left: 1%;
    margin-top: 2%;
    color: whitesmoke;
}
a{
    text-decoration: none;
}
.jumbotron .bottone{
    background-color: #cd3d0f;
    color: white;
    border: none;
    padding: 8px;
    margin-top: 10px;
}
.immagini-giochi{
    width: 100%;
    margin: 30px 0;
}
.playstation5 h5{
    color: blue;
}
.playstation5 h2{
    font-size: 40px;
}
.playstation5 h6{
    color: grey;
    font-size: 19px;
}
img{
    width: 100%;
}
.blue-button{
    background-color: blue;
    color: white;
    padding: 8px;
    border-radius: 20px;
}
.special{
    border-bottom: solid 2px blue;
}
.mid-page{
    background-image: url(../img/img/it-takes-two-hero-banner-desktop.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-top: 30px;
}
.mid-page img{
    width: 200px;
}
.mid-page h2{
    margin-left: 1%;
    font-size: 40px;
    color: whitesmoke;
}
.mid-page p{
    margin-left: 1%;
    margin-top: 2%;
    color: whitesmoke;
}
a{
    text-decoration: none;
}
.mid-page .bottone{
    background-color: #cd3d0f;
    color: white;
    border: none;
    padding: 8px;
    margin-top: 10px;
}
.mid-page .jumbo{
    padding-top: 40px;
    padding-left: 30px;
}
.darkpart{
    background-color: #1f1f1f;
}
.darkpart p{
    font-size: 14px;
}
.esplora h6{
    color: gray;
}
.playstation-plus{
    background-color: #bebcbb;
}
.sconti h6{
    color: gray;
}
.psnow{
    background-color: #161c3b;
}
.white-button{
    color: black;
    background-color: white;
    padding: 8px;
    border-radius: 20px;
    font-size: 18px;
}
.social h2{
    font-size: 40px;
}
footer{
    background-color: #00439c;
}
